/* Search */
.block-search {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 5rem;
}

/* Keyword */
.block-keyword {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

/* Map */
.block-map {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.div-map {
  width: var(--width);
  height: 300px;
  border-radius: var(--border-radius);
  background-color: var(--color-gray);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* Find Button  */
.arrow-double {
  position: absolute;
  transform: translateY(21.5rem);
  margin-left: 75%;
  color:var(--color-white);
}

/* Nursinghome Information */
.block-NursingHomeInfo {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding-right: 0.5rem;
}
.NursingHomeInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.block-NursingHomeDetailInfo {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

/* Nursinghome Manager Information */
.block-NursingHomeManagerInfo {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding-right: 0.5rem;
  margin-bottom: 1rem;
}
.NursingHomeManagerInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Nursinghome Image */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.grid-item {
  border-color: var(--color-gray);
  margin: 0.25rem;
}

/* NursingHome ActBlock */
.block-NursingHomeAct {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

/* Icon */
.aifillstar {
  font-size: 1.6rem;
  color: var(--color-yellow);
}

/* NursingHome Check */
.NusingHomeCheck {
  font-size: 30px;
  color: var(--color-green);
}

/* Notice Block */
.noticeblock{
  display: flex;
  line-height: 20px;
  text-align: left;
  margin-bottom: 20px;
}

/* Notice Waiting Block */
.noticewaitingblock{
  margin: 30vh auto;
  line-height: 30px;
}


/* belowbar */
.belowbar{
  display: flex;
  justify-content: space-between;
  border-top: var(--border-bottom);
  padding: 10px 30px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
}

/* Count Request Block */
.countrequestblock{
  padding: 25px;
  border: 1px solid var(--color-green);
  border-radius: var(--border-radius);
  margin: 20px 0;
}

.request{
  text-align: left;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.count{
  text-align: right;
  font-size: 2rem;
  font-weight: bold;
}

/* Manager Response to Request */
.input-response{
  outline: none;
  width: 80%;
  font-size: 1rem;
  font-family: sans-serif;
  height: 1.5rem;
}

.icon-send{
  color: var(--color-green);
  font-size: 25px;
}

.response-title{
  width: 40px;
  line-height: 1.5rem;
}