/* Search */
.block-search {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 5rem;
}

/* Keyword */
.block-keyword {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

/* Map */
.block-map {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.div-map {
  width: var(--width);
  height: 300px;
  border-radius: var(--border-radius);
  background-color: var(--color-gray);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* Find Button  */
.arrow-double {
  position: absolute;
  transform: translateY(21.5rem);
  margin-left: 75%;
  color:var(--color-white);
}

/* Nursinghome Information */
.block-NursingHomeInfo {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding-right: 0.5rem;
}
.NursingHomeInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.block-NursingHomeDetailInfo {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

/* Nursinghome Manager Information */
.block-NursingHomeManagerInfo {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding-right: 0.5rem;
}
.NursingHomeManagerInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Nursinghome Image */
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
}
.grid-item {
  border-color: var(--color-gray);
  border-radius: var(--border-radius);
  margin: 0.5rem;
}

/* NursingHome ActBlock */
.block-NursingHomeAct {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

/* Icon */
.aifillstar {
  font-size: 1.6rem;
  color: var(--color-yellow);
}
