
.div-nursinghomeinfo,
.div-nursinghomeactstext {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
}
.div-nursinghomenoticeinfo {
  color:var(--color-blue);
}

.nursinghome-info,
.nursinghome-address,
.nursinghome-operatingtime,
.nursinghome-religion {
  font-size: 0.85rem;
  margin-bottom: 0.2rem;
}
.nursinghome-acttext,
.nursinghome-actdate {
  font-size: 0.85rem;
  margin-bottom: 1rem;
}

.noticetext{
  margin-left: 10px;
}

.handleDataStyle {
  position: relative;
  margin: 10px 10px 50px auto;
  text-Align: right;
  font-Size: 0.8rem;
}

/* Left Text */
.txt-leftlarge{
  font-size: 1.2rem;
  text-align: left;
  line-height: 1rem;
  margin-bottom: 0.5rem;
  line-height: 2rem;
}
.txt-leftsmall{
  text-align: left;
  line-height: 1rem;
  padding-right: 1rem;
}

/* Member Management Information*/
.membersInfo {
  margin-bottom: 0.5rem;
  font-size: var(--font-size-small);
}
.div-membersInfo{
  text-align: left;
  padding-left: 1rem;
}
.approvalsInfo {
  margin-bottom: 0.5rem;
  font-size: var(--font-size-small);
}
.div-approvalsInfo{
  text-align: left;
  padding-left: 1rem;
}

