
.div-nursinghomeinfo {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.nursinghome-info,
.nursinghome-address,
.nursinghome-operatingtime,
.nursinghome-religion {
  font-size: 0.85rem;
}