
.div-nursinghomeinfo,
.div-nursinghomeactstext {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-left: 1rem;
  padding-right: 1rem;
}
.div-nursinghomenoticeinfo {
  color:var(--color-blue);
}

.nursinghome-info,
.nursinghome-address,
.nursinghome-operatingtime,
.nursinghome-religion,
.nursinghome-acttext,
.nursinghome-actdate {
  font-size: 0.85rem;
  margin-bottom: 0.2rem;
}


.noticetext{
  margin-left: 10px;
}