.tit-name,
.tit-id,
.tit-password,
.tit-passwordcheck,
.tit-email,
.tit-emailcheck{
    text-align: left;
    font-size: var(--font-size-small);
}

input{
    border: 0;
    border-radius: 0;
    border-bottom: var(--border-bottom);
    outline: none;
    width: var(--width);
    margin-bottom: var(--margin-bottom);
    height: var(--height);
}



/* EmailCheck */
.div-emailcheck{
    display: flex;
}
