.tit-name,
.tit-id,
.tit-password,
.tit-passwordcheck,
.tit-email,
.tit-emailcheck{
    text-align: left;
    font-size: var(--font-size-small);
}

.input-email,
.input-emailcheck,
.input-id,
.input-name,
.input-password,
.input-passwordcheck{
  border: 0;
  border-radius: 0;
  border-bottom: var(--border-bottom);
  margin-bottom: var(--margin-bottom);
  outline: none;
  width: var(--width);
  height: var(--height);
}

/* Email */
.div-emailcheck{
  display: flex;
}

/* Image */
.imgLarge{
  width: 100px;
  height: 100px;
}
.imgMiddle {
  width: 80px;
  height: 80px;
}
.imgSmall {
  width: 60px;
  height: 60px;
}
.img-actImage {
  width: var(--width);
  height: 10rem;
  margin-bottom: 1rem;
}


/* Add */
.addLarge{
  position: absolute;
  right: 115px;
  top: 170px;
  font-size: 30px;
  color: var(--color-blue);
}
.addMiddle {
  position: absolute;
  right: 164px;
  bottom: 105px;
  font-size: 30px;
  color: var(--color-blue);
}

/* Search */
.searchBox {
    padding-left: 2.5rem;
    border: none;
    border-radius: var(--border-radius);
    background-color: var(--color-gray);
    width: 100%;
    height: var(--height);
    box-sizing: border-box;
    outline: none;
}

.search-icon {
    position: absolute;
    margin-top: 0.75rem;
    margin-left: 0.75rem;
}
