.tit-name,
.tit-id,
.tit-password,
.tit-passwordcheck,
.tit-email,
.tit-emailcheck{
    text-align: left;
    font-size: var(--font-size-small);
    margin-top: var(--margin-bottom);
}

.input-email,
.input-emailcheck,
.input-id,
.input-name,
.input-password,
.input-passwordcheck{
  border: 0;
  border-radius: 0;
  border-bottom: var(--border-bottom);
  outline: none;
  width: var(--width);
  height: var(--height);
}

/* Email */
.div-emailcheck{
  display: flex;
  position: relative;
}

/* Image */
.imgLarge{
  width: 110px;
  height: 110px;
  padding: 0.5rem;
}
.imgMiddle {
  width: 90px;
  height: 90px;
  border: 1px solid;
  border-Color: var(--color-gray);
}
.imgSmall {
  width: 70px;
  height: 70px;
  border: 1px solid;
  border-Color: var(--color-gray);
}
.img-actImage {
  width: var(--width);
  height: 10rem;
  margin-bottom: 1rem;
}
.img-rgProfile {
  width: 110px;
  height: 110px;
  border: 1px solid;
  border-radius: 5px;
  border-color: var(--color-gray);
}
.img-nhAct{
  width: 90px;
  height: 90px;
  border: 1px solid;
  border-color: var(--color-gray);
}
.img-managerProfile {
  width: 70px;
  height: 70px;
  border: 1px solid;
  border-radius: var(--border-radius);
  border-color: var(--color-gray);
}


/* Add */
.addLarge{
  position: absolute;
  right: 115px;
  top: 170px;
  font-size: 30px;
  color: var(--color-blue);
}
.addMiddle {
  position: absolute;
  right: 164px;
  bottom: 105px;
  font-size: 30px;
  color: var(--color-blue);
}
.addMiddle-mg {
  position: absolute;
  right: 164px;
  bottom: 105px;
  font-size: 30px;
  color: var(--color-green);
}
.addImg-mg{
  width: var(--width);
  height: 10rem;
  margin-bottom: 1rem;
  border-radius: var(--border-radius);
  border: var(--border-bottom);
}

/* Search */
.searchBox {
    border: none;
    border-color: var(--color-dark-gray);
    border-radius: var(--border-radius);
    width: 100%;
    height: var(--height);
    box-sizing: border-box;
    outline: none;
}


/* Input Certification File */
.input-certificationfile{
  padding: 70px 0;
  border: 1px solid var(--color-gray);
  border-radius: var(--border-radius);
  margin-top: 20px;
}

.input-certificationfile-upload{
  border: 1px solid var(--color-green);
  border-radius: var(--border-radius);
  margin-top: 20px;
}

.file-upload{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: var(--border-bottom);
}

.file-upload > div{
  display: flex;
  align-items: center;
  line-height: 1rem;
  padding: 5px;
}

.txt-fileName{
  width: 50vw;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;
}

.txt-fileSize{
  color: var(--color-dark-gray);
  font-size: 0.8rem;
}
  


.input-mgNhInfoEditInput {
  height: 1rem;
  border-bottom: 1px solid;
  border-color: var(--color-gray);
  font-size: var(--font-size-small);
  outline: none;
}

/* TextArea */
.handleResponseStyle {
  width: calc(var(--width) - 40px);
  min-Height: 300px;
  resize: none;
  border: var(--border-bottom);
  border-Radius: var(--border-radius);
  margin-Top: 20px;
  outline: none;
  padding: 20px;
  font-Family: sans-serif;
  font-Size: 1rem;
}

.textarea-acts{
  width: calc(var(--width) - 40px);
  min-Height: 100px;
  resize: none;
  border: var(--border-bottom);
  border-Radius: var(--border-radius);
  margin-Top: 20px;
  outline: none;
  padding: 20px;
  font-Family: sans-serif;
  font-Size: 1rem;
}

/* SignUp - Notice Message */
.notice-massage{
  margin-top: 10px;
  text-align: left;
  font-size: 0.8rem;
  color: var(--color-red);
}

/* Act Image Upload */
.input-actImage-before{
  padding: 70px 0;
  border: 1px solid var(--color-gray);
  border-radius: var(--border-radius);
  margin: 20px 0 20px 0;
}

.input-actImage-after{
  border: 1px solid var(--color-gray);
  border-radius: var(--border-radius);
  margin: 20px 0;
}

.input-actImage{
  width: var(--width);
  /* height: auto; */
}