/* Select */
.tit-userchoice{
    text-align: left;
    font-size: var(--font-size-small);
}
.sel-userchoice{
    border: 0;
    border-radius: 0;
    border-bottom: var(--border-bottom);
    outline: none;
    width: var(--width);
    margin-bottom: var(--margin-bottom);
    height: var(--height);
    background-color: var(--color-white);
}

.sel-ratingchoice,
.sel-religionchoice{
    width: 5rem;
    height: 2rem;
    padding-left: 0.3rem;
    border: solid 1px;
    border-radius: var(--border-radius);
    outline: none;
    font-size: var(--font-size-small);
    background-color: var(--color-white);
    margin-left: 0.5rem;
    color: var(--color-blue);
}

.arrow-down-gender{
  position: relative;
  bottom: 3.5rem;
  left: 1rem;
}

.arrow-down-user{
  position: relative;
  bottom: 3.5rem;
  left: 8rem;
}

.arrow-down-rating {
  position: absolute;
  margin-top: 0.5rem;
  margin-left: 9.3rem;
  color: var(--color-blue);
}

.arrow-down-religion {
  position: absolute;
  margin-top: 0.5rem;
  margin-left: 14.8rem;
  color: var(--color-blue);
}