/* Select */
.tit-userchoice{
    text-align: left;
    font-size: var(--font-size-small);
    margin-top: var(--margin-bottom);
}
.sel-userchoice{
    border: 0;
    border-bottom: var(--border-bottom);
    outline: none;
    width: var(--width);
    height: var(--height);
    background-color: var(--color-white);
    background-image: url(arrow.svg);
    background-repeat: no-repeat;
    background-position: calc(100% - 5px) center;
}

.sel-ratingchoice,
.sel-religionchoice{
    width: 5rem;
    height: 2rem;
    padding: 0.3rem;
    border: solid 1px;
    border-radius: var(--border-radius);
    outline: none;
    font-size: var(--font-size-small);
    background-color: var(--color-white);
    margin-right: 0.5rem;
    background-image: url(arrow.svg);
    background-repeat: no-repeat;
    background-position: calc(100% - 7px) center;
}