:root{
  --color-rg: #5BB1F9;
  --color-mg: #7CAD5B;
  --border-rg: 1px solid #5BB1F9;
  --border-mg: 1px solid #7CAD5B;
  --border-bottom: 1px solid #aaa;
  --border-radius: 5px;
  --btn-padding: 10px;
  --width: 100%; 
  --max-width: 500px;
  --margin-bottom: 30px;
  --height: 40px;
  --font-size-big: 2rem;
  --font-size-middle: 1rem;
  --font-size-small: 0.8rem;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 50px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title{
  font-size: 1.5rem;
  margin-bottom: var(--margin-bottom);
}
